.best{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 5rem;
    background-color:#F8F9FC;
    padding:  1rem clamp(1rem, 6vw, 10rem);
    flex-wrap: wrap;
    position:relative;
}
.best .yellow{
    position: absolute;
    right: 20%;
    top: -4%;
}
.best .purplecircle{
    position: absolute;
    right: 2%;
    bottom: 0;
}
.best .triangled{
    position: absolute;
    left: 1rem;
    bottom: 20%
}
.the-best{
    flex-grow: 1;
    flex-basis: 400px; 
    flex-wrap: wrap;
}
.best figure{
    margin: 2rem 0;
}
.card{
    margin: 3rem 0;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    display: flex;
    flex-basis: 400px;
    flex-grow: 2;
 
}
.card > div{
    width: 38%;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    flex-grow: 1;
}
#group{
    background-color: #4C7FBD;
    padding: .5rem;
}
#grouping{
    background-color: #AECD5E;
    padding: .5rem;
}
#groups{
    background-color: #ED6BA6;
    padding: .5rem;
}
#grouped{
    background-color: #EA6B45;
    padding: .5rem;
}
@media screen and (max-width: 900px){
   .best{
gap: 2rem;
}
.the-best{
       text-align: center;

   }
   .best .triangled{
    left:.5rem;
   }
   .best .yellow{
    display: none;
   }
   .high-quality .circle{
    bottom: 0;
    right: 2rem;
   }
    .card>div{
        flex-basis: 300px;
    }
    #frame{
        width: 40%;
        transform: translate(-6rem, 7rem);
    }
}