
.our-client p{
   max-width: 650px; 
   text-align: center;
   margin: 1rem auto;
   padding: 0 2rem;
}
.what-they-said::-webkit-scrollbar{
    display: none;
}
.what-they-said{
    display: grid;
    grid-template-columns: repeat(4, 500px);
    gap: 2rem;
    overflow-x: scroll;
    padding: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
    .said{
    border-radius: 24px;
    background-color: white;
    padding: .5rem 1rem 1rem 1rem;
}
.said:hover{
    border: 1px solid #DDDDDD;
    transition: all 3s;
}
.client{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
@media screen and (max-width:500px){
    .our-client{
        padding: 0;
    }
    .client{
        gap: 2rem;
    }
    .client p{
        padding: 0;
    }
}