.popular-courses{
    background-color:  #F8F9FC;
    padding: 4rem 3rem;
    position: relative;
}
.popular-courses .star{
    position: absolute;
    top: 10%;
    left: 6%;
}
.courses{
    text-align: center;
    flex-basis: 400px;
    flex-grow: 1;
}
.courses > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.categories{
    color:#004DB3;
    background-color: white;
    text-align: center;     
    padding: .5rem 0rem;       
}
#design{
    color: #1E5DCE;
}
.popular-courses h4{
    font-size: 1.3rem;
    color: #000F24;
}
.popular-courses h5{
    font-size: 1rem;
}
.popular-courses h6{
    font-size: 1rem;
}
.researched{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;
    margin: 1rem 0 4rem 0;
}
.research{
    background-color: white;
    border-radius: 16px;
    padding: 1rem;
    flex-basis: 300px;
    flex-grow: 1;
}
.research > div{
    flex-wrap: wrap;
}
.research > img{
    width: 100%;
}
.research-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
#design{
    background-color:  #1E5DCE33;
border-radius: 16px;
padding: .5rem 1rem;
}
.schedule{
    display: flex;
    align-items: center;
    gap: .3rem;
}
.popular-courses button{
    display: block;
    margin: 0 auto;
}
@media(max-width: 900px){
    .popular-courses .star{
        top: -.6rem;
    }
    .courses>div{
        gap:1rem;
        text-align: center;
    }
    .courses > div p{
        font-size: .7rem;  
    }
    
    .schedule{
        gap: 7rem;
        
    }
}