 footer{
    background-color: #000F24;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}
footer h4{
    color: white;
}
.footer-content{
    flex-basis: 300px;
}
.social-icons{
    margin: 3rem 0;
    display: flex;
    gap: 2rem;
}
.usefull-links{
    margin: 2rem 0;
    flex-basis: 300px;
}
footer li{
     text-transform:capitalize;
    margin: 1rem 0;
    list-style: none;
}
.community{
    flex-basis: 300px;
}
.input-details{
    margin: 1rem 0;
    width:100%;
    max-width: 450px;
    border:1px solid  #054FB3;
}
form{
    border: none; 
    display: flex;
    flex-wrap: wrap;  
}
input{
    flex-grow: 1;
    background-color: #2A2A2B;
    border: none;
    padding: 1rem;
}

.message{
    color: white;
    background-color: #004DB3;
    margin: 0;
    padding: 1rem;
    border: none;
    font-size: .9rem; 
    flex-grow: 1; 
}
