header {
    background-color: #004db3;
    position: relative;
    z-index: 10;
    padding-bottom: 5rem;
}

nav {
    background-color: #004db3;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    color: white;
    padding: 1rem clamp(1rem, 6vw, 10rem);
}
.btn-enroll{
    padding: 1rem 2rem;
    font-size: 1.2rem; 
    background-color: white;
    color:#004DB3;
    border: none;
    border-radius: 4px;
    font-family: 'satoshi';
    font-weight: 700;
}
.btn-enroll:hover{
    background-color: #004DB3;
    color: white;
    border: 1px solid #DDDDDD;
    transition: all ease .3s; 
    font-size: 1rem;
}
.nav-content {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin: 0 1rem;
    font-family: "satoshi";
    font-size: 1.2rem;
    font-weight: 700;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 700px) {

    .nav-content {
        position: absolute;
        height: fit-content;
        top: 100%;
        right: -100%;
        flex-direction: column;
        background-color: white;
        color:#004db3;
        padding: 1rem 0; 
        max-width: 500px;
        border-radius: 3%;
        transition: all ease 0.5s;
    }
.nav-content li{
    margin: 1rem 2rem;
}
    .active {
        right:0;
    }

    .hamburger {
        display: block;
    }
    nav .btn-enroll{
        background-color: #004db3;
        padding: 1rem 1rem;
    font-size: 1.2rem; 
    color:white;
    border: none;
    border-radius: 4px;
    font-family: 'satoshi';
    font-weight: 700;
    }
    nav .btn-enroll:hover{
        background-color: white;
        color: #004DB3;
       transition: all ease-in-out 1s;
    }
}