.high-quality{
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:  1rem clamp(1rem, 6vw, 10rem);
    background-color: #F8F9FC;
    position:relative;
    }
     .high-quality h2::before {
        content: '';
        display: block;
        position: absolute;
        height: clamp(20px, 5vw, 50px);
        width: clamp(20px, 5vw, 50px);
        background: url('../asssest/Vectored.png');
        background-size: cover;
        top: 1.5rem;
        left: 3rem;  
    }
    .high-quality .green{
        position: absolute;                   
         right: 0; 
        top: 1rem;  
    }
    .high-quality .circle{
        position: absolute;
        right: 11rem;
        bottom: 23%;
    } 
    .high-quality .semicircle{
        position: absolute;
    right: 0;
    bottom: 25%;
    }
    .quality{
        flex-basis: 400px;     
        flex-grow: 1;
    }
    .high-quality picture{
        flex-basis: 400px;
        flex-grow: 1;
    }
    #frame{
        transform: translate(-40%, 180%);
    }
    .view{
        color: white;
    background-color: #004DB3;
    border: none;
    padding: 1rem 2rem;
    }
    .view:hover{ 
    background-color: white;
    color:#004DB3;
    transition: all ease .3s;
    font-size: 1rem;
    border: 2px solid #004DB3;
    }
    .class{
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin: 3rem 0;
    }
    .classes{
        display: flex;
        gap: .6rem;
        background-color: white;
        border-radius: 8px;
        flex-basis: 200px;
        align-items: center;
        padding:0 1rem;
    }
    #unsplash{
        display: block;
        margin-left: auto;
        width: 80%;
    }
    #unsplashed{
        transform: translate(-45%, -50%);
    
    }
    @media screen and (max-width: 900px){
        .high-quality{
            text-align: center;
            gap: 0
        }
        .high-quality h2::before{
            left: 1.2rem;
            top: 3rem;
        }
        .high-quality h2{
            font-size: 1.1rem;

        }
        .quality button{
            display: block;
            margin: 1rem auto;
        }
        .high-quality .green{
            top: 18rem;
            right:1.7rem;
        } 
        .class{
            flex-wrap: wrap;
        }
        .classes{
            flex-grow: 1;
        flex-basis: 150px;
        }
        #unsplashed{
            transform: translate(-16%, -29%);                                      
            width: 70%;
        }
        #frame{
            transform: translate(-3%, 170%);
            width: 40%;
        }
    }